[submodule "themes/blackburn"]
	path = themes/blackburn
	url = https://github.com/yoshiharuyamashita/blackburn.git
[submodule "output"]
	path = output
	url = git@github.com:GeorgeBrown128/GeorgeBrown128.github.io
